// 基础scss参数

// 主色
$main: rgba(87, 0, 7, 1);
// 主色下的文字颜色
$main_text_color: rgba(255, 255, 255, 1);

// 副色
$ancillary: rgba(174, 0, 2, 1);
// 副色下的文字颜色
$ancillary_text_color: rgba(250, 215, 168, 1);

// 普通
$common: rgba(255, 255, 255, 1);
// 普通下的文字颜色
$common_text_color: rgba(51, 51, 51, 1);
